<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT</title>
</head>

<body>
    <h3>MQTT Connection</h3>
    <button onclick="addNewForm()">+ Add new form</button>
</body>

<script>
    const publish = (topic, message) => {
        console.log(topic, message)
        fetch('/publish', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    topic,
                    message
                })
            }).then(response => console.log(response))
            .catch(error => console.log(error))
    }

    const addNewForm = () => {
        const form = document.createElement("FORM")

        const topicTxt = document.createElement("INPUT")
        topicTxt.name = "topic"
        topicTxt.placeholder = "Add a topic"

        const messageTxt = document.createElement("INPUT")
        messageTxt.name = "message"
        messageTxt.placeholder = "Add a message"

        const submitBtn = document.createElement("BUTTON")
        submitBtn.innerText = "Publish"
        submitBtn.type = "button"
        submitBtn.addEventListener('click', () => publish(topicTxt.value, messageTxt.value))

        form.appendChild(topicTxt)
        form.appendChild(messageTxt)
        form.appendChild(submitBtn)

        document.body.appendChild(form)
    }
</script>

</html>